* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 914px){
  html, body, #root {
    overflow: auto;
  }
}